html, body {
    background: #fff;
    margin: 0; padding: 0;
    width: 100%; height: 100%;
}

header, section {
    width: 600px;
    margin: 0 auto;
}

header {
    background: url(../img/robust-reloader.jpg) center center no-repeat;
    height: 500px;
}
